.footer {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  padding-block: 2em;
  position: relative;
  overflow: clip;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer__title {
    font-size: 6.75rem;
    margin: 0;
  }

  .footer__copy {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .button {
    margin-block: 1.5em;
  }

  .hero__links {
    margin-block: 0 auto;

    a {
      color: var(--clr-light);

      img {
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(316deg)
          brightness(110%) contrast(101%);
      }

      &:hover,
      &:focus-within {
        color: var(--clr-accent-2);

        img {
          filter: invert(21%) sepia(65%) saturate(3951%) hue-rotate(345deg)
            brightness(84%) contrast(82%);
        }
      }
    }
  }

  .watermark--footer {
    bottom: -35%;
    right: -2.5%;
  }
}

dialog {
  border-top-right-radius: calc(var(--border-radius) / 2);
  border-top-left-radius: calc(var(--border-radius) / 2);
  position: relative;
  overflow: clip;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  border: 0;

  &::backdrop {
    opacity: 0.9;
    background-color: var(--clr-dark);
  }

  button {
    background-color: var(--clr-light);
    border: 0;
    img {
      width: 3em;
      aspect-ratio: 1/1;
    }
  }

  .form {
    width: 40%;
    margin-inline: auto;

    .form__group {
      display: flex;
      flex-direction: column;
      margin-block: 1.5em;

      label {
        margin-bottom: 0.2em;
      }
    }

    .form__input {
      padding: 1.25em 1em;
      border-radius: calc(var(--border-radius) / 4);
      border: solid 2px var(--clr-grey);
      font-family: "Questrial", sans-serif;

      &:focus {
        outline: solid 3px var(--clr-accent-2);
        opacity: 0.6;
      }
    }
  }

  .watermark--dialog {
    z-index: -1;
    bottom: -15%;
    left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    .wrapper {
      flex-direction: column;
    }

    .hero__links {
      order: -1;
      margin-bottom: 2em;
    }
    .watermark--footer {
      bottom: -21.5%;
      right: -2.5%;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    .footer__title {
      font-size: 4rem;
    }
  }
}
