.hero {
  display: flex;
  margin-top: 2em;
  gap: 2em;
  justify-content: space-between;

  .title {
    margin: 0;
  }

  .button {
    margin-top: 1em;
  }

  .hero__name {
    margin-top: auto;
    color: var(--clr-accent);
  }

  .hero__content {
    display: flex;
    flex-direction: column;
  }

  .hero__img {
    border-radius: 10px;
    width: max(40%, 400px);
  }

  .watermark--hero {
    top: -10%;
  }
}

.hero__links {
  margin-top: auto;
  display: flex;
  gap: 3em;

  a {
    display: flex;
    gap: 0.5em;

    img {
      filter: invert(39%) sepia(0%) saturate(1%) hue-rotate(232deg)
        brightness(101%) contrast(90%);
    }

    &:hover,
    &:focus-within {
      color: var(--clr-accent-2);

      img {
        filter: invert(20%) sepia(100%) saturate(1979%) hue-rotate(340deg)
          brightness(94%) contrast(89%);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    flex-direction: column;

    .hero__content {
      order: -1;
    }
  }

  .hero__links {
    margin-block: 2em 1em;
  }
}

@media screen and (max-width: 600px) {
  .hero__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    a img {
      width: max(1em, 20px);
    }
  }
}
