@import url(reset.module.css);

/* general stylings */
:root {
  --clr-dark: hsl(0, 0%, 9%);
  --clr-light: hsl(0, 0%, 100%);
  --clr-accent: hsl(0, 0%, 40%);
  --clr-accent-2: hsl(358, 62%, 48%);
}

body {
  color: var(--clr-accent);
}

a {
  color: var(--clr-accent);
  &:hover,
  &:focus-within {
    color: var(--clr-accent-2);
  }
}

:where(h1, h2, h3, h4) {
  color: var(--clr-dark);
  font-size: 3rem;
}

.container {
  --margin: 2rem;
  width: min(100% - var(--margin), 150rem);
  margin-inline: auto;
}

/* main sections */
.header {
  padding-block: 1em;
  display: flex;
  justify-content: space-between;

  .header__logo {
    font-size: 2.25rem;
    font-weight: 700;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 0.25em;
      aspect-ratio: 1/1;
      background-color: var(--clr-accent-2);
      border-radius: 50%;
      top: 60%;
    }
  }

  .header__nav ul {
    display: flex;
    list-style-type: none;

    a {
      padding: 1em;
    }
  }
}

.hero {
  display: flex;
  margin-top: 2em;
  gap: 2em;
  justify-content: space-between;

  & > div {
    display: flex;
    flex-direction: column;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__links {
    margin-top: auto;
    display: flex;
    gap: 3em;
    justify-content: space-between;

    a {
      display: flex;
      gap: 0.5em;

      img {
        filter: invert(39%) sepia(0%) saturate(1%) hue-rotate(232deg)
          brightness(101%) contrast(90%);
      }

      &:hover,
      &:focus-within {
        img {
          filter: invert(20%) sepia(100%) saturate(1979%) hue-rotate(340deg)
            brightness(94%) contrast(89%);
        }
      }
    }
  }

  .hero__img {
    border-radius: 10px;
  }
}

.footer {
  color: var(--clr-light);
  background-color: var(--clr-dark);
}
