/* utiltiy classes */
.wrapper {
  --margin: 2rem;
  width: min(100% - var(--margin), 150rem);
  margin-inline: auto;
}

.watermark {
  font-family: "Questrial", sans-serif;
  font-size: 16rem;
  position: absolute;
  opacity: 0.025;
  font-weight: 900;
  user-select: none;
  z-index: -1;
}

.title {
  color: var(--clr-dark);
  font-size: 6.75rem;
}

.link {
  color: var(--clr-accent);
  &:hover,
  &:focus-within {
    color: var(--clr-accent-2);
  }
}

.button {
  display: inline-block;
  color: var(--clr-light);
  padding: 1em 3.75em;
  border-radius: var(--border-radius);
  background-color: var(--clr-accent-2);
  position: relative;
  width: fit-content;
  border: 0;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .button {
    padding: 0.8em 3.5em;
  }

  .watermark {
    font-size: 12rem;
  }
}

@media screen and (max-width: 600px) {
  .button {
    padding: 0.6em 3.2em;
    width: max-content;
  }
  .title {
    font-size: 4rem;
  }

  .watermark {
    font-size: 6rem;
  }
}
